nodered/data/flows.json
[
    {
        "id": "52813cb27ee7a04f",
        "type": "tab",
        "label": "MQTT Handler",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0a0faea32bacf798",
        "type": "tab",
        "label": "Alert Handler",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1db12a15ff463015",
        "type": "tab",
        "label": "Get Weather data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "63b3192eee14fbc2",
        "type": "mqtt-broker",
        "name": "Vidal MQTT Broker",
        "broker": "wso.vidalsolution.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cb46eb49b0641803",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.8-flux",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "9cc82476d54e80d9",
        "type": "mqtt in",
        "z": "52813cb27ee7a04f",
        "name": "Vidal MQTT Broker",
        "topic": "/milesight/uplink",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "63b3192eee14fbc2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "9ba7c5b18fc1083a",
                "a3a12e0784e2d395"
            ]
        ]
    },
    {
        "id": "ea4d99d2ba299342",
        "type": "debug",
        "z": "52813cb27ee7a04f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "7542ddd7b85e7b75",
        "type": "inject",
        "z": "52813cb27ee7a04f",
        "name": "",
        "props": [
            {
                "p": "payload.co2",
                "v": "243",
                "vt": "num"
            },
            {
                "p": "payload.humidity",
                "v": "23",
                "vt": "num"
            },
            {
                "p": "payload.temperature",
                "v": "20",
                "vt": "num"
            },
            {
                "p": "payload.devEUI",
                "v": "24e124710c140971",
                "vt": "str"
            },
            {
                "p": "payload.deviceName",
                "v": "AM319-Sensor_1",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload.time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "a3a12e0784e2d395"
            ]
        ]
    },
    {
        "id": "a3a12e0784e2d395",
        "type": "function",
        "z": "52813cb27ee7a04f",
        "name": "function 1",
        "func": "var payload = msg.payload;\n\npayload.temp = payload.temperature;\ndelete payload.temperature;\n\nvar device = {\n    deviceName: payload.deviceName,\n    deviceID: payload.devEUI\n}\n\npayload.time = new Date(payload.time).getTime();\n\ndelete payload.deviceName;\ndelete payload.devEUI;\n\nmsg.payload = [];\nmsg.payload.push(payload);\nmsg.payload.push(device);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            [
                "ea4d99d2ba299342",
                "a2bdacf0665d81ce"
            ]
        ]
    },
    {
        "id": "9ba7c5b18fc1083a",
        "type": "debug",
        "z": "52813cb27ee7a04f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 340,
        "wires": []
    },
    {
        "id": "a2bdacf0665d81ce",
        "type": "influxdb out",
        "z": "52813cb27ee7a04f",
        "influxdb": "cb46eb49b0641803",
        "name": "",
        "measurement": "Sensor",
        "precision": "",
        "retentionPolicy": "",
        "database": "db0",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "926bdaf1b0cc69ef",
        "type": "debug",
        "z": "0a0faea32bacf798",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "ac8d82d85f5520fc",
        "type": "http in",
        "z": "0a0faea32bacf798",
        "name": "",
        "url": "/alert",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "926bdaf1b0cc69ef",
                "13cd2eafdcc8a123",
                "40f9d0221e22c1b1"
            ]
        ]
    },
    {
        "id": "13cd2eafdcc8a123",
        "type": "http response",
        "z": "0a0faea32bacf798",
        "name": "OK",
        "statusCode": "200",
        "headers": {},
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "40f9d0221e22c1b1",
        "type": "function",
        "z": "0a0faea32bacf798",
        "name": "function 2",
        "func": "var alerts = msg.payload.alerts[0];\n// var value = payload.commonAnnotations.value\nvar value = Number(alerts.annotations.value)\n\nreturn value.toString();",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            [
                "3251c3c4176e0280"
            ]
        ]
    },
    {
        "id": "3251c3c4176e0280",
        "type": "debug",
        "z": "0a0faea32bacf798",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "2ba384c30b1e3525",
        "type": "comment",
        "z": "1db12a15ff463015",
        "name": "Get external parameters every 10 minutes",
        "info": "",
        "x": 260,
        "y": 80,
        "wires": []
    },
    {
        "id": "03600c78a04c7070",
        "type": "inject",
        "z": "1db12a15ff463015",
        "name": "Location input",
        "props": [
            {
                "p": "location.city",
                "v": "Singapore",
                "vt": "str"
            },
            {
                "p": "location.country",
                "v": "Singapore",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "e029b69ef31c45d1"
            ]
        ]
    },
    {
        "id": "e029b69ef31c45d1",
        "type": "openweathermap",
        "z": "1db12a15ff463015",
        "name": "Singapore",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "",
        "country": "",
        "language": "en",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "0389199391458483",
                "0c23e6a8870aceec"
            ]
        ]
    },
    {
        "id": "0389199391458483",
        "type": "debug",
        "z": "1db12a15ff463015",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "0c23e6a8870aceec",
        "type": "influxdb out",
        "z": "1db12a15ff463015",
        "influxdb": "cb46eb49b0641803",
        "name": "",
        "measurement": "Weather",
        "precision": "",
        "retentionPolicy": "",
        "database": "db0",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 680,
        "y": 100,
        "wires": []
    }
]